@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Verdana, Tahoma, Serif;
  background-color: #D7E3F4;
}

header {
  background-color: #853A98;
  color: #853A98;
}

button {
  color:#D8e3f5;
}

button:hover {
  color:#fff;
}

#pages {
  color:#D8e3f5;
}

#pages:hover {
  color:#fff;
}

#cart {
  color: #D8e3f5;
}

#cart:hover {
  color: #fff;
}

#search {
  color: #D8e3f5;
}

#search:hover {
  color: #fff;
}

#login {
  color: #D8e3f5;
}

#login:hover {
  color: #fff;
}

#logoHeader {
  color: #D7E3F4;
  font-weight: bold;
  font-size: large;
}

#createAccount {
  color: #D8e3f5;
}

#createAccount:hover {
  color: #fff;
}

a {
  color: #853A98;
}

a:hover {
  color: #4f7aaa;
}

#category {
  font-weight: bold;
}

#itemLine{
  color: #853A98;
}

h1 {
  font-size: xx-large;
}

#mobileCat {
  color: #853A98;
}

#mobileSection {
  color: #853A98;
}

#mobileMenu {
  background-color: #D7E3F4;
}

#mobileItem {
  color: #853A98;
}

/* Home page CSS */

#news {
  color:#853A98;
}

#heroBtn {
  background-color: #853A98;
  border: solid 1pt #572364;
}

#bigHero1 {
  background-color: #57236475;
  padding: 2em;
  margin-bottom: 1em;
}

#homeButton {
  color:#D7E3F4;
}

#carouselHome {
  align-content:center;
}

#homeCards {
  margin-inline: 1pt;
}

/* Events page CSS */

#eventsHead {
  color: #853A98;
}

.sx-react-calendar-wrapper {
  width: 1000px;
  min-width: 100vw;
  height: 1000px;
  max-height: 90vh;  
  padding-left: 5em;
  padding-right: 5em;
} 

#detailsHead {
  color: #853A98;
  text-align: center;
}

#iFrame {
  justify-content: center;
  border-radius: 2%;
}

#detailsContent {
  margin-left: 5em;
  margin-right: 5em;
  justify-content: center;
  text-align: center;
}

#eventGallery {
  justify-content: center;
}

#eventGallery2 {
  justify-content: center;
}


h2 {
  color: #572364;
}


