@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Verdana, Tahoma, Serif;
  background-color: #D7E3F4;
}

title {
  background-color: #853A98;
}

header {
  background-color: #853A98;
  color: #D8e3f5;
}

a {
  color: #D8e3f5;
}


a:active {
  color: #fff
}