@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Verdana, Tahoma, Serif;
  background-color: #D7E3F4;

}

header {
  background-color: #853A98;
  color: #853A98;
}

button {
  color:#D8e3f5;
}

button:hover {
  color:#fff;
}

#pages {
  color:#D8e3f5;
}

#pages:hover {
  color:#fff;
}

#cart {
  color: #D8e3f5;
}

#cart:hover {
  color: #fff;
}

#search {
  color: #D8e3f5;
}

#search:hover {
  color: #fff;
}

#login {
  color: #D8e3f5;
}

#login:hover {
  color: #fff;
}


#createAccount {
  color: #D8e3f5;
}

#createAccount:hover {
  color: #fff;
}

a {
  color: #853A98;
}

a:hover {
  color: #4f7aaa;
}

#category {
  font-weight: bold;
}

#itemLine{
  color: #853A98;
}

h1 {
  font-size: xx-large;
}

#mobileCat {
  color: #853A98;
}

#mobileSection {
  color: #853A98;
}

#mobileItem {
  color: #853A98;
}

/* Home page CSS */

#news {
  color:#853A98;
  text-align: center;
}

#heroBtn {
  background-color: #853A98;
  border: solid 1pt #572364;
}

#bigHero1 {
  background-color: #57236475;
  padding: 2em;
  margin-bottom: 1em;
}

#homeButton {
  color:#D7E3F4;
}

#carouselItems {
  text-align: center;
}

/* Events page CSS */

#eventsHead {
  color: #853A98;
}

.sx-react-calendar-wrapper {
  width: 1200px;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}

/* #calendar {

} */


#iFrame {
  width: 1000px;
  max-width: 100vw;
  height: 1000px;
  max-height: 100vh;
}